/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/


@import url(font-awesome.min.css);
@import url(superslides.css);


/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
body {
    color: #666666;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.80857;
}


a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #2a2a2a;
    opacity: 1;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar{
    position: relative;
    z-index: 10;
}
.top-navbar .navbar{
    padding: 0px 0px;
    position:fixed;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
    opacity: 0.8;
    transition: height .3s ease-out, background .3s ease-out,box-shadow .3s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.4);
    z-index: 100;

}

.top-navbar .navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
    background: #8e0e0e;
    color: white;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
    background-color: #8e0e0e;
    color: white;
    border-radius: 4px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    border-radius: 0px;
    padding: 10px;
    box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
}
.navbar-expand-lg .navbar-nav .dropdown-menu a{
    padding: 10px 10px;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
    background: #8e0e0e;
    color: yellow;
}
.navbar-light .navbar-toggler:hover{
	background: #8e0e0e;
}

/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/
.cover-slides{
	height: 100vh;
}
.slides-navigation a {
    background: #8e0e0e;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    font-size: 20px;
    display: block;
    color: #fff;
    border-radius: 4px;
    line-height: 63px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.slides-navigation a i{
    font-size: 40px;
}
.slides-navigation a:hover{
    background: black;
}
.cover-slides .container{
	height: 100%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}

.btn{
	text-transform: uppercase;
	padding: 19px 36px;
}
.btn{
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: .1875rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-new-white {
    color: #fff;
    background-color: #8e0e0e;
    background-image: none;
    border-color: #8e0e0e;
}
.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	opacity: 0.5;
}

.cover-slides h1{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 64px;
	color: #fff;
}
.cover-slides p{
	font-size: 18px;
	color: #fff;
}
.slides-pagination a{
	border: 2px solid #ffffff;
}
.slides-pagination a.current{
	background: #8e0e0e;
	border: 2px solid #8e0e0e;
}

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/
.add-cart {
    position: relative;
    font-size: x-large;
    left: 90px;
}
.menu-box{
	padding: 70px 0px;
}
.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}
.inner-menu-box{}
.inner-menu-box .nav-pills .nav-link.active{
	background: #8e0e0e;
}
.inner-menu-box .nav-pills .nav-link{
	font-size: 18px;
}
.inner-menu-box .nav-pills .nav-link:hover{
	background: #8e0e0e;
	color: #ffffff;
}
.gallery-single{
	margin-bottom: 30px;
}
.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; 
}
.why-text h4{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}
.why-text p{
	color: #ffffff;
	font-size: 13px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}
.gallery-single:hover .why-text{
	bottom: 0px;
}

/*------------------------------------------------------------------
    Contact info
-------------------------------------------------------------------*/
.contact-imfo-box{
	background: #8e0e0e;
	padding: 20px 0;
	border-radius: 30px;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i{
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #fff;
	color: #8e0e0e;
	font-size: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	margin-right: 20px;
}
.contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
	color: #ffffff;
	font-size: 20px;
	padding: 0px;
	font-weight: 500;
	line-height: 24px;
}
.contact-imfo-box p {
    margin: 0px;
	color: #ffffff;
	font-weight: 300;
}

/* footer */
.copyright{
	position: relative;
	display: block;
    background-color: #010101;
    color: white;
	border-top: 1px solid rgba(207, 166, 113);
	padding: 30px 0;
	z-index: 1;
}

.copyright .company-name{
	font-size: 16px;
    text-align: center;
    
    
}
.copyright .company-name a{
    font-size: 16px;
    color:white;
}
.copyright .company-name a:hover{
    color: #8e0e0e;
}

